.container {
    display: flex;
    /* gap: 30px; */
    flex-wrap: wrap;
}

.box {
    width: 50%;
    height: 300px;
    background-color: red;
    font-size: 4rem;
    font-weight: 800;
    align-items: center;
}

.one {
    /* flex-grow: 1; */
    /* flex-shrink: 3; */
}

.two {
    background-color: green;
    flex-grow: 2;
}


/* h2 {
    color: blueviolet;
} */

h2.dreams {
    color: brown;
}